body{
	font-family: 'Roboto', sans-serif;
}

.mt-100{
	margin-top: 100px
}

.bg-color-1{
	background-color: #17a2b8;
}

.container-fluid{
	padding: 0px;
}

.navbar{
	padding: 0px
}

.navbar-brand img{
    width: 70px
}

.navbar-nav .nav-item .nav-link{
	font-size: 18px;
	color: #fff;
}

.navbar-nav .nav-item .nav-link:hover{
	color: #000;
	transition: all 0.6s ease;
}


.auth-section a{
	text-decoration: none;
	color: #fff;
}

.auth-section a:hover{
	color: #000;
	transition: all 0.6s ease;
}

.carousel-control-prev{
	font-size: 5rem
}

.carousel-control-next{
	font-size: 5rem
}



.about-section img{
	border-radius:10px; 
}


.post-section img{
	border-radius:10px;
}

.post-section .card{
	border-radius:10px;
}


.event-section img{
	border-radius:10px;
}

.event-section .card{
	border-radius:10px;
}


.footer{
	background-color: #001427;
	padding-top:60px;
	padding-bottom:60px;
}

.footer p{
	color: #fff;
}

.footer .footer-link{
	margin-top: 30px;
}

.footer h2{
	color: #fff;
}

.footer .footer-link a{
	display: block;
	text-decoration: none;
	margin-top: 12px;
}

.footer .social-link a{
   font-size: 32px;
   margin-right: 20px
}



.post-details img{
  border-radius: 10px;
}


.dropdown-item{
	color: #000 !important;
}




